/result/
/build/
/.idea/
/.pytest_cache/
*.md
/*debug/
/env/
/develop-eggs/
02apirunner/dist/
/downloads/
/eggs/
/.eggs/
/*.egg-info/
/AUTHORS
*log
.DS_Store
__pycache__/
!single_api_demo
/.DS_Store
*.log
result/
!temp
/MA
/log
/migrations
/doc
/debug_case
/a.txt
/static
/venv
/allure-results
/config
/back.txt
*results
config.ini
00platformWeb/node_modules
!00platformWeb/src/
!00platformWeb/dist/
*.bck
*.sql
